# Ignore node_modules (it will be installed inside the container)
node_modules
npm-debug.log
yarn-error.log

# Ignore local environment files
.env
.env.local
.env.development
.env.production
.env.test

# Ignore build artifacts
dist
coverage

# Ignore Docker-related files
.dockerignore
Dockerfile

# Ignore editor & system files
.vscode
.idea
*.swp
*.swo
*.log
.DS_Store
Thumbs.db
